.item-todo {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px 20px;
	padding: 12px;
	&.completed .item-todo__value {
		color: var(--main-gray-color);
		text-decoration: line-through;
	}
	&.focused .item-todo__actions,
	&:hover .item-todo__btn-remove {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	&.focused:hover .item-todo__btn-remove {
		opacity: 0;
		visibility: hidden;
	}
	&.editing .checkbox {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	&.editing .item-todo__value,
	&.editing .item-todo__btn-remove {
		display: none;
	}
	&__checkbox {
		flex: 0 0 45px;
	}
	&__value {
		flex: 1 1 auto;
		border: 1px solid transparent;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 120%;
		color: var(--main-dark-color);
		pointer-events: none;
		transition: color 0.3s ease-in-out;
		@media (max-width: 48em) {
			font-size: 1rem;
		}
	}
	&__btn-remove {
		display: block;
		width: 16px;
		height: 16px;
		border: none;
		background: none;
		cursor: pointer;
		color: var(--main-red-color);
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all 0.3s ease-in-out;
		svg {
			min-width: 100%;
			min-height: 100%;
			color: inherit;
			pointer-events: none;
		}
		&:hover {
			color: var(--hover-red-color);
		}
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: 8px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}
	&__action-edit {
		display: block;
		width: 16px;
		height: 16px;
		border: none;
		background: none;
		cursor: pointer;
		color: var(--main-dark-color);
		transition: color 0.3s ease-in-out;
		svg {
			min-width: 100%;
			min-height: 100%;
			color: inherit;
			pointer-events: none;
		}
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
	}
	&__action-remove {
		display: block;
		width: 16px;
		height: 16px;
		border: none;
		background: none;
		cursor: pointer;
		color: var(--main-red-color);
		transition: color 0.3s ease-in-out;
		svg {
			min-width: 100%;
			min-height: 100%;
			color: inherit;
			pointer-events: none;
		}
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
	}
}
