.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__body {
		flex: 0 1 32rem;
		padding: 16px 32px;
		background-color: #ffffff;
		z-index: 2;
	}
	&__backdrop {
		position: absolute;
		inset: 0;
		z-index: 1;
		background: rgba(#000000, 0.5);
	}
}
.popup-backdrop-transition {
	&-enter,
	&-appear {
		opacity: 0;
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}
.popup-body-transition {
	&-enter,
	&-appear {
		transform: translateX(100%);
	}
	&-enter-active,
	&-appear-active {
		transform: translateX(0);
		transition: transform 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
	&-exit {
		transform: translateX(0);
	}
	&-exit-active {
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
}
