.toggle-all {
	position: relative;
	width: 100%;
	height: 100%;
	&__input {
		&:checked + .toggle-all__label {
			color: var(--main-dark-color);
		}
		&:focus-visible + .toggle-all__label {
			outline: 2px solid var(--accent-color);
			outline-offset: -2px;
		}
	}
	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 100%;
		cursor: pointer;
		color: var(--main-gray-color);
		transition: color 0.2s ease-in-out;
	}
}
