.footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px 20px;
	padding: 10px 15px;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 50px;
		overflow: hidden;
		box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%),
			0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
		pointer-events: none;
	}
	&__left {
		min-width: 70px;
		font-size: 0.875rem;
		line-height: 1.2;
		color: #777777;
	}
	&__filters {
		@media (max-width: 30em) {
			flex: 1 1 100%;
			order: 1;
		}
	}
	&__btn-clear-completed {
		font-size: 0.875rem;
		line-height: 1.2;
		color: #777777;
		cursor: pointer;
		border: none;
		border-bottom: 1px solid transparent;
		background: none;
		opacity: 0;
		visibility: hidden;
		transition: border-bottom 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		&:hover {
			border-bottom: 1px solid #777777;
		}
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
}
