// react confirm dialog base styles
@import "react-confirm-alert/src/react-confirm-alert.css";
:root {
	--main-dark-color: #4d4d4d;
	--main-gray-color: #e6e6e6;
	--main-red-color: #cc9a9a;
	--accent-color: rgb(82, 82, 233);
	--hover-red-color: #af5b5e;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 50px 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.title {
	margin-bottom: 0.2em;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
}
.app {
	max-width: 34.5em;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
.app[data-empty="true"] .app__body,
.app[data-empty="true"] .app__footer {
	// display: none;
	opacity: 0;
	visibility: hidden;
	max-height: 0;
}
.app[data-empty="true"] .toggle-all {
	opacity: 0;
	visibility: hidden;
}
.app__header {
}
.app__body {
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	transition: all 0.3s ease-in-out;
}
.app__footer {
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	transition: all 0.3s ease-in-out;
}

.confirmation-dialog {
	&.react-confirm-alert-overlay {
		background: rgba(#000000, 0.5);
	}
	.react-confirm-alert {
		margin: 0 16px;
	}
	/* .confirmation-dialog__body */
	&__body {
		padding: 16px 32px;
		background: #ffffff;
		border-radius: 8px;
		&:focus {
			outline: none;
		}
	}
	/* .confirmation-dialog__title */
	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	/* .confirmation-dialog__message */
	&__message {
		padding: 32px 0;
		font-size: 20px;
	}
	/* .confirmation-dialog__buttons */
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0px 8px;
	}
	/* .confirmation-dialog__btn */
	&__btn {
		padding: 10px 16px;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
		/* .confirmation-dialog__btn--confirm */
		&--confirm {
			background-color: lightgreen;
		}
		/* .confirmation-dialog__btn--cancel */
		&--cancel {
			background-color: #ff8b8f;
		}
	}
}
