// react confirm dialog base styles
@import "react-confirm-alert/src/react-confirm-alert.css";
:root {
	--main-dark-color: #4d4d4d;
	--main-gray-color: #e6e6e6;
	--main-red-color: #cc9a9a;
	--accent-color: rgb(82, 82, 233);
	--hover-red-color: #af5b5e;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 50px 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.title {
	margin-bottom: 0.2em;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
}
.app {
	max-width: 34.5em;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
.app[data-empty="true"] .app__body,
.app[data-empty="true"] .app__footer,
.app[data-empty="true"] .toggle-all {
	opacity: 0;
	visibility: hidden;
}
.app[data-empty="true"] .app__body {
	max-height: 0;
}
.app[data-empty="true"] .app__footer {
	max-height: 0;
	border-top: none;
}
.app__header {
}
.app__body {
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	transition: all 0.3s ease-in-out;
}
.app__footer {
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	border-top: 1px solid #ededed;
	transition: all 0.3s ease-in-out;
}

.confirmation-dialog {
	&.react-confirm-alert-overlay {
		background: rgba(#000000, 0.5);
	}
	.react-confirm-alert {
		margin: 0 16px;
	}
	/* .confirmation-dialog__body */
	&__body {
		padding: 16px 32px;
		background: #ffffff;
		border-radius: 8px;
		&:focus {
			outline: none;
		}
	}
	/* .confirmation-dialog__title */
	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	/* .confirmation-dialog__message */
	&__message {
		padding: 32px 0;
		font-size: 20px;
	}
	/* .confirmation-dialog__buttons */
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0px 8px;
	}
	/* .confirmation-dialog__btn */
	&__btn {
		padding: 10px 16px;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
		/* .confirmation-dialog__btn--confirm */
		&--confirm {
			background-color: lightgreen;
		}
		/* .confirmation-dialog__btn--cancel */
		&--cancel {
			background-color: #ff8b8f;
		}
	}
}
.confirm-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__backdrop {
		position: absolute;
		inset: 0;
		z-index: 1;
		background: rgba(#000000, 0.5);
	}
	/* .confirmation-dialog__body */
	&__body {
		position: relative;
		z-index: 2;
		flex: 0 1 400px;
		padding: 16px 32px;
		background: #ffffff;
		border-radius: 8px;
		&:focus {
			outline: none;
		}
	}
	&__body-container {
	}
	/* .confirmation-dialog__title */
	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	/* .confirmation-dialog__message */
	&__message {
		padding: 32px 0;
		font-size: 20px;
	}
	/* .confirmation-dialog__buttons */
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0px 8px;
	}
	/* .confirmation-dialog__btn */
	&__btn {
		padding: 10px 16px;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		&:focus-visible {
			outline: 2px solid var(--accent-color);
		}
		/* .confirmation-dialog__btn--confirm */
		&--confirm {
			background-color: lightgreen;
		}
		/* .confirmation-dialog__btn--cancel */
		&--cancel {
			background-color: #ff8b8f;
		}
	}
}
.confirm-dialog-backdrop-transition {
	&-enter,
	&-appear {
		opacity: 0;
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}
.confirm-dialog-body-transition {
	&-enter,
	&-appear {
		opacity: 0;
		transform: translateY(-100%) scale(0.7);
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transform: translateY(0) scale(1);
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
	&-exit {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	&-exit-active {
		opacity: 0;
		transform: translateY(-100%) scale(0.7);
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}
}
